.navbar {
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: viga;
	font-size: 20px;
}

.judul h2 {
	font-family: serif;
	font-size: 30px;
	margin-top: 120px;
}

.kirim {}

footer {
	margin-top: -60px;
}


@media (min-width: 992px) {
	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.navbar-brand,
	.nav-link {
		color: #fff !important;
		text-shadow: 1px 1px 1px #231b41;
	}

	.jumbotron {

		background-size: cover;
		height: 635px;
		margin-top: -75px;

	}

}
